      
      body {
          background-color: lightblue;
          margin-right: 50px;
          margin-left: 40px;
          background-image: url("https://ih0.redbubble.net/image.285448700.8504/mp,550x550,matte,ffffff,t.3.jpg");
          color: aqua;
          background-size:100px 100px;
       } 

       a {
           color: red;
       }

      h1 {
      text-decoration: underline;
      font-family: fantasy;
      text-align: center;
       }

       h2 {
      font-family: fantasy;
       }

       h3 {
      font-family: fantasy;
       }

      h4 {
      font-family: serif;
       }

       img {
      border-style: inset inset outset outset;
      border-color: greenyellow;
      border-width: thick;
      width: 600px;
      height: 400px;
       }